@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.hero_bg{
    background: url(../../public/imgs/hero_bg.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.refugio_base_bg{
    background-color: #576165;
    position: relative;
    overflow: hidden;
}